@import url(https://fonts.bunny.net/css?family=abril-fatface:400|open-sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i);

:root {
  --wihte-color: #e7e7e7;
  --dark-color: #191919;
  --gold-color: #c59e47;
  --bluegray-color: #313943;
  --darkblue-color: #020243;
  --gray-color: #6d6d6d;
  --darkgray-color: #262626;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
/* ------------------------------HEADER------------------------------- */
header {
  width: 100%;
  background-color: var(--dark-color);
}
/* -----------------------------LINK-BAR------------------------------ */
.link_bar {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}
.link_bar ul {
  margin: 0 4rem;
}
.link_bar ul li {
  display: inline-block;
}

.link_bar ul li i {
  margin-right: 0.2rem;
}

.link_bar a,
i,
span {
  color: var(--wihte-color);
}

.link_bar li a:hover {
  color: var(--gold-color);
}
.link_bar li i:hover {
  color: var(--gold-color);
}
/* ----------------------------NAV-BAR------------------------------ */
.nav-bar-container {
  width: 100%;
  height: 60px;
  padding-top: 0.3rem;
  background-color: #fff;
}

.nav-bar {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo-img a img {
  width: 7rem;
  margin-left: 4rem;
}
.menu {
  width: 100%;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
}
.menu li {
  padding-left: 1rem;
}
.menu label i {
  color: var(--darkgray-color);
}
.menu li a {
  font-size: 1.5rem;
  font-weight: 100;
  display: inline-block;
  color: var(--darkgray-color);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--gold-color);
  transition: 0.25s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}

label i {
  color: var(--darkgray-color);
}

.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 15px;
  right: 20px;
}
#check {
  display: none;
}
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60vh;
    border: 1px solid lightgrey;
    position: fixed;
    top: 35px;
    right: -100%;
    z-index: 100;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--gold-color);
    box-shadow: 0.2rem 0.2rem 1rem var(--gray-color);
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  .logo-img a img {
    width: 7rem;
    margin-left: 1rem;
  }
  .link_bar ul {
    margin: 0 1rem;
  }
}
/* -------------------------------HERO SECTION----------------------------- */
.hero_img section {
  width: 100%;
}

.hero_img img {
  width: 100%;
  display: block;
}

.hero-text {
  width: 100%;
  color: var(--darkblue-color);
  text-shadow: 0.2rem 0.1rem 0.1rem var(--wihte-color);
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--gold-color);
}
.hero-text h2 {
  font-family: "Abril Fatface", display;
  letter-spacing: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
}
/* ----------------------------SALE-SECTION------------------------- */
.sale-container {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.sale-container h2 {
  font-size: 2rem;
  font-weight: 100;
  color: var(--darkblue-color);
}

.card-container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.card-item {
  width: 100%;
  margin: 0 auto;
}

.card-item img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.car-name {
  width: 100%;
  color: var(--wihte-color);
  background-color: var(--darkgray-color);
  margin: 0 0 1rem auto;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
}

.car-tech {
  margin-top: 2rem;
  font-weight: bold;
  color: var(--darkgray-color);
}

.price {
  font-size: 1.4rem;
  color: var(--gray-color);
}

.car-btn {
  color: var(--wihte-color);
  margin: 1rem auto;
  font-size: 1.5rem;
  padding: 0.7rem 5.5rem;
  border-radius: 10px;
  background-color: var(--darkblue-color);
}

.car-btn:hover {
  color: var(--darkblue-color);
  background-color: var(--wihte-color);
  border: 2px solid var(--gold-color);
}

@media (min-width: 458px) {
  .hero-text {
    font-size: 1.6rem;
    padding: 1.8rem;
  }
  .hero-text h2 {
    color: var(--darkblue-color);
    font-size: 5rem;
    text-shadow: 0.2rem 0.1rem 0.1rem var(--wihte-color);
  }
  .sale-container {
    padding: 1rem 0;
  }
  .sale-container h2 {
    font-size: 3rem;
  }
  .card-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .card-item {
    width: 500px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid var(--gold-color);
    box-shadow: 0.2rem 0.2rem 1rem rgb(184, 183, 183);
  }
  .card-item img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .car-name {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
/* ---------------------------STORIES-SECTION----------------------- */
.storie-container {
  width: 100%;
}
.storie-container h3 {
  text-align: center;
  color: var(--darkblue-color);
  margin: 1.5rem;
  font-size: 3rem;
  font-weight: 100;
}
.content-item {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.storie-item {
  width: 500px;
  height: 550px;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.storie-item img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.storie-content {
  width: 500px;
  height: 550px;
  padding: 4rem 2rem;
  color: var(--wihte-color);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 2;
  background-color: rgb(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 1s ease-in-out;
  text-align: center;
}

.storie-item:hover .storie-content {
  opacity: 1;
}

.storie-content h4 {
  font-size: 1.6rem;
}
.storie-content p {
  font-size: 0.9rem;
}

.storie-content p a {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
  border-radius: 25px;
  color: var(--dark-color);
  background-color: var(--wihte-color);
  opacity: 0.4;
}

@media (max-width: 676px) {
  .storie-item {
    width: 100%;
    height: 350px;
  }
  .storie-content {
    width: 93%;
    height: 350px;
  }
  .storie-content p {
    font-size: 0.6rem;
  }
  .storie-content h4 {
    font-size: 1.2rem;
  }
}
/* --------------------------VISITING SECTION------------------------ */
.info-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.info-container h2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 2rem 0 1rem;
}
.info-container p {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
.visit-container {
  width: 80%;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.visit-container img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.img-content {
  width: 70%;
  padding: 3rem;
  text-align: center;
  color: var(--wihte-color);
  display: flex;
  flex-flow: column;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.visit-container:hover .img-content {
  opacity: 1;
}
.img-content h3 {
  font-family: "Abril Fatface", display;
 font-size: 5rem;
 text-shadow: 0.1rem 0.3rem 0.5rem var(--dark-color);
}
.img-content p a {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-top: 6rem;
  padding: 1rem 2rem;
  border-radius: 25px;
  color: var(--dark-color);
  background-color: var(--wihte-color);
  opacity: 0.7;
}
@media (max-width: 1024px) {
  .img-content h3{font-size: 3rem;}
  .img-content p a{font-size: 1rem;padding: 0.9rem 1.8rem;}
}
@media (max-width: 724px) {
  .info-container h2 {font-size: 2rem;}
  .info-container p{font-size: 1rem;}
  .img-content h3{font-size: 1.8rem;}
  .img-content p a{
    font-size: 0.5rem;
    padding: 0.3rem 1.2rem;
    margin-top: 1rem;}
}
/* --------------------------NEWSLETTER-SECTION---------------------- */
.newslettercontent {
  position: relative;
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.leftside {
  position: relative;
}
.leftside img {
  position: relative;
  width: 100%;
  top: 10%;
  left: 15%;
  z-index: 99;
}
.leftside h3 {
  position: absolute;
  font-size: 1.8rem;
  font-weight: 700;
  top: 30%;
  left: 25%;
  letter-spacing: 8px;
  z-index: 100;
}
.leftside p {
  position: absolute;
  width: 70%;
  font-size: 1.3rem;
  top: 45%;
  left: 25%;
  z-index: 100;
}
.rightside {
  position: relative;
  top: 50%;
  right: 0;
}
.rightside img {
  position: relative;
  width: 100%;
  padding-top: 4px;
  z-index: 1;
}
.rightside input {
  position: absolute;
  top: 34%;
  left: 25%;
  font-size: 2rem;
  color: var(--wihte-color);
  background: none;
  background-color: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--wihte-color);
  border-radius: 0;
  width: 53%;
  padding: 0px;
  z-index: 99;
}
#subemail:focus {
  border-bottom: 1px solid #c7d7e5;
  background-color: var(--wihte-color);
  opacity: 0.3;
  height: 2.5rem;
}

.rightside input[type="submit"] {
  position: absolute;
  top: 45%;
  left: 25%;
  z-index: 99;
  background: none;
  border: 1px solid var(--wihte-color);
  font-size: 2rem;
  color: var(--wihte-color);
  letter-spacing: 0.4rem;
  width: 53%;
  height: 12%;
}
.rightside input[type="submit"]:hover {
  background: var(--wihte-color);
  color: var(--dark-color);
  transition: all 0.2s ease-in;
}
@media (max-width: 1200px) {
  .leftside h3 {
    font-size: 1rem;
    top: 25%;
  }
  .leftside p {
    font-size: 0.8rem;
    top: 38%;
    width: 60%;
  }
  .rightside input {
    font-size: 1.1rem;
  }
  .rightside input[type="submit"] {
    font-size: 1.3rem;
    letter-spacing: 3px;
  }
}
@media (max-width: 676px) {
  .newslettercontent {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: 2rem auto;
    padding: 0;
  }
  .rightside input {
    width: 65%;
    left: 20%;
  }
  .rightside input[type="submit"] {
    width: 65%;
    margin: auto;
    left: 20%;
    top: 50%;
    font-size: 1.9rem;
  }
  .leftside img {
    top: 2rem;
    left: 0;
    transform: rotate(90deg);
    width: 100%;
  }
  .leftside h3 {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    top: 0;
    left: 25%;
  }
  .leftside p {
    font-size: 1rem;
    top: 18%;
    left: 25%;
    width: 50%;
  }
  .storie-container h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
  }
}
@media (max-width: 460px) {
  .rightside input[type="submit"] {
    font-size: 1.5rem;
  }
}
/* -----------------------------SLIDER-SECTION----------------------------- */
.slider-container {
  display: grid;
  place-items: center;
}
.slider-container h2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 3rem 0 1rem;
  color: var(--darkblue-color);
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  height: 100%;
  width: 85%;
  overflow: hidden;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.1),
    0 -0.2rem 2rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);

  border-bottom: 2px solid var(--gold-color);
  border-top: 2px solid var(--gold-color);
}
.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(-20%);
  }
}
.slider img {
  width: 10%;
  margin: 1.3rem;
  border-radius: 45px;
}
/* ------------------------------FOOTER----------------------------- */
footer {
  width: 100%;
}

.footer-logo a {
  width: 100%;
  margin-top: 5rem;
  display: flex;
}

.footer-logo img {
  width: 15rem;
  margin: auto;
}
.slogan {
  width: 100%;
  margin: 4rem 0 2rem auto;
  text-align: center;
}
.slogan p {
  width: 70%;
  margin: auto;
  color: var(--dark-color);
}
footer .nav_bar {
  width: 100%;
  margin: 1rem auto;
}

.menu-bot {
  width: 100%;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}
.menu-bot li {
  padding-left: 1rem;
}

.menu-bot li a {
  font-size: 1.5rem;
  font-weight: 100;
  display: inline-block;
  color: var(--darkgray-color);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  margin: 0 1rem auto;
}
.menu-bot li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--gold-color);
  transition: 0.25s ease-in-out;
}
.menu-bot li a:hover:after {
  width: 100%;
}
.link-bar {
  width: 100%;
  margin: auto;
  text-align: center;
}
.link-bar img {
  width: 6rem;
  height: 3px;
  margin: 0.5rem;
}
footer .link-bar ul {
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .link-bar ul li i {
  font-size: 1.3rem;
  margin: 0 0.3rem;
  color: var(--gold-color);
}
footer .link-bar ul li i:hover {
  color: var(--darkblue-color);
}
footer .footer {
  width: 100%;
  background-color: var(--dark-color);
  position: static;
  bottom: 0;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

footer .footer li,
a {
  display: inline-block;
  color: var(--wihte-color);
}

footer .footer a:hover {
  color: var(--gold-color);
}

#author {
  color: var(--gold-color);
}

@media (max-width: 728px) {
  .menu-bot {
    width: 100%;
    padding-bottom: 0.5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .slider-container h2 {
    font-size: 2rem;
  }
}
